# Ignore sass cache
.sass-cache
*.sassc

# Ignore all vim *.swp files
*.swp

# Ignore bundler config
/.bundle

# Ignore bundler cache
/vendor/bundle

# Ignore .rspec
.rspec

# Ignore the frozen Gemfile.lock
Gemfile.lock

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore the generate SQL structure file
/db/structure.sql

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/spec/tmp/*

# There are examples of these, don't include actual ones
/config/config.yml
/config/database.yml

# Ignore large vagrant files and state
/vagrant/iso/*
/vagrant/*.box
/vagrant/.vagrant

# Ignore any chef nodes that are defined
/chef/nodes/*

# Other Rails files to ignore
*.rbc
capybara-*.html
/public/system/*
/coverage/
**.orig
rerun.txt
