<p>
  <b>Username:</b>
  <%= username %>
</p>

<p>
  <b>Password:</b>
  <%= password %>
</p>

<p>
  <b>Firstname:</b>
  <%= firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= lastname %>
</p>


<a href="#/index" class='btn'>Back</a>
