<h1>Listing gkconfigs</h1>

<table id="gkconfigs-table" class="table table-striped">
  <tr>
    <th>Section</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-primary">New Gkconfig</a>
